.collapsible-header:hover {
    background: #dddddd !important;
}

.collapsible-header.active {
    background: #e9ac3c;
    color: white;
}

.collapsible-header.active:hover {
    background: #e9ac3c !important;
}

.plant-detail-option {
    background: white;
}


