.profile-content {
    position: relative !important;
    top:-15vh !important;
}

.fas {
    padding-right: 1vw !important;
}

.profile-selector {
    list-style-type: none;
}

.color-teal {
    color: 	#51A39A;
}