.input-area {
    margin: 0 !important;
    padding: 0 !important;
}

.modal {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.auth-button {
    background: #e9ac3c;
}

.signup-form-icon {
    width: 100%;
    font-size: 60px;
}