.greeting-text {
    text-align: center;
}

.greeting {
    color: rgb(255, 209, 134);
    font-weight: bold;
    font-size: 450%;
    animation: fadein 2s;

}

.greeting2 {
    color: white;
    font-size: 300%;
    font-family: 'Shadows Into Light', cursive;
    animation: fadein 5s;
    padding-left: 150px;
    padding-right: 150px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}