.flower-div {
    width: 100%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-bottom: 4%;
    float: left;
}

#flower-icon {
    width: 100%;
}
/* 
a.flower-btn {
    width: 75%;
    margin-left: 12%;
} */