
.card {
  background: #fff;
  border-radius: 2px;
  /*height: 165px;*/
  /*margin: 1rem;*/
  /*width: 225px;*/
  /*box-shadow: 0 3px 6px #999, 0 3px 6px #999;*/
  /*text-align: left;*/
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}






