a.brand-logo {
    padding-left: 1.5%;
    font-family: 'Staatliches', cursive;
}

.nav-wrapper {
    background: transparent;
}

.nav-margin {
    margin-bottom: 15vh;
}

.top-nav {
    box-shadow: none;
    /* z-index: 9999; */
}

Button.transparent {
    box-shadow: none;
}

.nav-dropdown-menu a {
    /* background: #fffff3 !important; */
    color: #42504b !important;
    /* text-decoration: none !important; */
}

.users-nav-item {
    margin-top: .4vh;
    margin-bottom: -.4vh;
    margin-right: -3vw;
}