a.brand-logo {
    padding-left: 1.5%;
    font-family: 'Staatliches', cursive;
}

.nav-wrapper {
    background: transparent;
}

.nav-margin {
    margin-bottom: 15vh;
}

.top-nav {
    box-shadow: none;
    z-index: 9999;
}

Button.transparent {
    box-shadow: none;
}