.profile-img {
    height: 17vh !important;
    width: 17vh !important;
    position: absolute;
    top: 20vh !important;
    left: 10vw;
    z-index: 99 !important;
    overflow: visible !important;
}

.profile-header {
    position: relative !important;
    top: 3vh !important;
    margin-bottom: 19vh;
}

.user-info {
    position: absolute;
    top: 30vh;
    width: 100%;
}

.users-profile-header-name {
    position: absolute;
    display: inline-block;
    left: 2vw;
    top: 2vh;
    width: 100vw;
}

.user-chip-row {
    width: 65%;
    padding-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 8%;
}

.plants-count-img {
    background: rgb(100, 99, 99);
}